<div class="container">
    <span class="product-crud-title">Welcome to Product CRUD</span>
    <div class="product-crud-options-container">
        <ul class="product-crud-option-list">
            <li>
                <div class="product-crud-option">
                    <p class="product-crud-option-description">Inserts a new product to database</p>
                    <button type="button" class="product-crud-button btn btn-primary">Insert</button>
                </div>
            </li>
            <li>
                <div class="product-crud-option">
                    <p class="product-crud-option-description">Updates an existing product in database</p>
                    <button type="button" class="product-crud-button btn btn-info">Update</button>
                </div>
            </li>
            <li>
                <div class="product-crud-option">
                    <p class="product-crud-option-description">Reads one or more products from database</p>
                    <button type="button" class="product-crud-button btn btn-success">Read</button>
                </div>
            </li>
            <li>
                <div class="product-crud-option">
                    <p class="product-crud-option-description">Deletes products from database (be careful here!)</p>
                    <button type="button" class="product-crud-button btn btn-danger">Delete</button>
                </div>
            </li>
        </ul>
    </div>
    <span class="product-crud-stacked-title">You can do changes here</span>
    <div class="product-crud-stacked">
        <!-- todo... -->
    </div>
</div>